#
#Este arquivo contém as configurações locais para trabalhar em desenvolvimento.
#Você deverá copiá-lo ao lado de "settings.py", renomear para "local_settings.py" e NÃO colocá-o no repositório.
#Informe ao time de desenvolvimento a existência deste arquivo.
#No final de "settings.py", digite o seguinte código:
#
#try:
#    from .local_settings.py import *
#except ImportError:
#    pass

import os


DEBUG = True

BASE_DIR = os.path.dirname(os.path.dirname(os.path.abspath(__file__)))

MIDDLEWARE_CLASSES = [
    'django.middleware.security.SecurityMiddleware',
    'django.contrib.sessions.middleware.SessionMiddleware',
    'django.middleware.common.CommonMiddleware',
    'django.middleware.csrf.CsrfViewMiddleware',
    'django.contrib.auth.middleware.AuthenticationMiddleware',
    'django.contrib.auth.middleware.SessionAuthenticationMiddleware',
    'django.contrib.messages.middleware.MessageMiddleware',
    'django.middleware.clickjacking.XFrameOptionsMiddleware',
]

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': os.path.join(BASE_DIR, 'db.sqlite3'),
    }
}
